In [ ]:
#Defining a list of 10 students ages
ages = [19,22,19,24,20,25,26,24,25,24]
ages

In [ ]:
#Sorting the list
ages.sort()

In [3]:
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [4]:
#Finding minimum of age
Minimum = min(ages)
Minimum

19

In [5]:
#Finding Maximum of age
Maximum = max(ages)
Maximum

26

In [6]:
#Adding Min and Max age again to the list ages
ages.append(Minimum)
ages.append(Maximum)
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [7]:
#Median Age 
L = len(ages) #Calculating Length of the list ages
L

12

In [8]:
#No of values in a list are even then median will be average of the two mid values of a list
A = int(L/2 -1) #A be the predecessor to the mid value in a list because list Index starts at 0
B = int(L/2) #B be the mid value in a list at Index 6
Median = (ages[A]+ages[B])/2
Median

24.0

In [9]:
#Average of List ages
S = sum(ages) #S be the Sum of all ages in a list ages
L = len(ages) #L be the length of the list
Average = S/L #Average can be calculated by sum of the values divided by Total no of Values in a list
Average

22.75

In [10]:
#Finding range of the ages
Maximum = max(ages)
Minimum = min(ages)
Range = Maximum - Minimum #Range means difference between maximum and minimum values in a list
Range

7

In [11]:
#QUESTION 2

In [2]:
#Creating a Empty Dictionary
Dog = {}
Dog

{}

In [3]:
#Appending values to a Dog Dictionary
Dog.update({"name" :"Scooby", "color" : "Brown", "breed" :"Dachshund", "legs" : 4, "age" : 3})
Dog

{'name': 'Scooby', 'color': 'Brown', 'breed': 'Dachshund', 'legs': 4, 'age': 3}

In [60]:
#Creating a Student Dictionary
Student = {"first_name" : "Sahitya", "last_name" : "Grandhe","gender": "Female", "age": "22", "marital status": "Single", "skills":['Problem Solving'], "country": "India", "city":"Hyderabad", "address": "Uppal"}
Student

{'first_name': 'Sahitya',
 'last_name': 'Grandhe',
 'gender': 'Female',
 'age': '22',
 'marital status': 'Single',
 'skills': ['Problem Solving'],
 'country': 'India',
 'city': 'Hyderabad',
 'address': 'Uppal'}

In [7]:
#Length of Student Dictionary
len(Student)

9

In [61]:
#Print values of Skills
S = Student['skills']
S

['Problem Solving']

In [46]:
type(S)

list

In [64]:
#Modifying skill values
Student["skills"].append('Time Management')
Student["skills"].append('Multitasking')
Student["skills"]

['Problem Solving', 'Time Management', 'Multitasking']

In [65]:
Student

{'first_name': 'Sahitya',
 'last_name': 'Grandhe',
 'gender': 'Female',
 'age': '22',
 'marital status': 'Single',
 'skills': ['Problem Solving', 'Time Management', 'Multitasking'],
 'country': 'India',
 'city': 'Hyderabad',
 'address': 'Uppal'}

In [67]:
#Printing keys of Student Dictionary
Student.keys()

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

In [68]:
#Printing keys of Student Dictionary as list
list(Student.keys())

['first_name',
 'last_name',
 'gender',
 'age',
 'marital status',
 'skills',
 'country',
 'city',
 'address']

In [69]:
#Printing values of Student Dictionary as list
list(Student.values())

['Sahitya',
 'Grandhe',
 'Female',
 '22',
 'Single',
 ['Problem Solving', 'Time Management', 'Multitasking'],
 'India',
 'Hyderabad',
 'Uppal']

In [23]:
#QUESTION 3

In [70]:
#Creating a Sisters and Brothers tuples
Sisters = ('Meghana','Sindhu')
Brothers = ('Sathwik','Deepu','Madan')

In [71]:
Sisters

('Meghana', 'Sindhu')

In [72]:
Brothers

('Sathwik', 'Deepu', 'Madan')

In [126]:
#Concatenating Sisters and Brothers tuples into a one tuple name it as siblings
Siblings = Brothers + Sisters
Siblings

('Sathwik', 'Deepu', 'Madan', 'Meghana', 'Sindhu')

In [74]:
#Length of Sibilings tuple
len(Siblings)

5

In [84]:
#Modifying Siblings Tuple
Siblings.append('Prasad','Nagamani')

AttributeError: 'tuple' object has no attribute 'append'

In [83]:
#As tuples are unchangables directly, but we can update the tuple by converting tuples into a list
Change_tuple = list(Siblings) #converting tuple into a list
Change_tuple

['Sathwik', 'Deepu', 'Madan', 'Meghana', 'Sindhu']

In [85]:
Change_tuple.extend(['Prasad','Nagamani'])

Change_tuple

['Sathwik', 'Deepu', 'Madan', 'Meghana', 'Sindhu', 'Prasad', 'Nagamani']

In [86]:
family_members = tuple(Change_tuple)
family_members

('Sathwik', 'Deepu', 'Madan', 'Meghana', 'Sindhu', 'Prasad', 'Nagamani')

In [33]:
#QUESTION 4

In [139]:
#Creating a sets it_companies, A, B, age
it_companies = {'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}
A = {19,22,24,20,25,26}
B = {19,22,20,25,26,24,28,27}
age = [22,19,24,25,26,24,25,24]

In [140]:
#Length of set it_companies
len(it_companies)

7

In [141]:
#Adding 'twitter' to set it_companies
it_companies.add("Twitter")
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [142]:
#Insert mutliple values into a set
it_companies.update(['TCS','Wipro'])
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'TCS',
 'Twitter',
 'Wipro'}

In [143]:
#remove items from a set
it_companies.remove('Wipro')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'TCS',
 'Twitter'}

In [144]:
it_companies.remove('MindTree')

KeyError: 'MindTree'

In [145]:
it_companies.discard('MindTree')

In [95]:
#Joining two sets
C = A.union(B) #Joins two sets A and B and also removes duplicate items
C

{19, 20, 22, 24, 25, 26, 27, 28}

In [96]:
#Intersecting two sets
D = A.intersection(B) #Intersection will results common items b/w the two sets A and B
D

{19, 20, 22, 24, 25, 26}

In [97]:
#Is A is subset of B
A.issubset(B) #issubset function checks if all items in A present in B, if true then A is subset of B otherwise not.

True

In [98]:
#are A and B disjoint sets
A.isdisjoint(B) #isdisjoint function checks if any item in set A present in B, if true not disjoint otherwise disjoint

False

In [99]:
#Insert one set items into another
A.update(B) #Insert items from set B into set A
A

{19, 20, 22, 24, 25, 26, 27, 28}

In [100]:
B.update(A) #Insert items from set A into setB
B

{19, 20, 22, 24, 25, 26, 27, 28}

In [101]:
#Symmetric difference between two sets A and B
A.symmetric_difference(B)

set()

In [102]:
#Deleting the sets completely
del A    #deletes the set A
del B    #deletes the set B
del it_companies #deletes the set it_companies

In [103]:
A

NameError: name 'A' is not defined

In [104]:
age

[22, 19, 24, 25, 26, 24, 25, 24]

In [105]:
#Converting a list age to a set
sage = set(age)
sage

{19, 22, 24, 25, 26}

In [106]:
#comparing the lengths of age and sage
len(age) == len(sage)

False

In [53]:
#QUESTION 5

In [1]:
#calculating area of circle
radius = 30
PI = 3.14
_area_of_circle = PI * radius * radius
_area_of_circle

2826.0

In [2]:
#calculating circumference of circle
_circum_of_circle = 2 * PI * radius
_circum_of_circle

188.4

In [3]:
#claculate area by taking radius as user Input
r = float(input("Enter radius"))   #reading input from user
area = PI * r * r   #formula to calculate area of circle
area

Enter radius30

2826.0

In [4]:
#QUESTION 6

In [5]:
#Unique words in a sentence
A = "I am a teacher and I love to inspire and teach people"
B = set(A.split(" ")) #First split() splits each word in a sentence and that will be stored in list.
#list will be converted into set using set() because set doesn't contain duplicate values
len(B)   #results no of unique words presents in the sentence

10

In [6]:
#QUESTION 7

In [7]:
#tab escaping sequence
print("Name\t\tAge\tCountry\tcity\nAsabench\t250\tFinland\tHelsinki") 
#\t creates tab space between the words
#\n to print words in new line

Name		Age	Country	city
Asabench	250	Finland	Helsinki

In [115]:
#QUESTION 8

In [116]:
#String formatting
radius = 10     # circle radius
area = 3.14 * radius ** 2      #formula to calculate area
print("radius = {radius}".format(radius = 10))
print("area = {PI} * radius **2 ".format(PI=3.14))
print("\"The area of a circle with radius {radius} is {area} meter square.\"".format(radius = 10, area = 3.14 * radius **2))

radius = 10
area = 3.14 * radius **2
"The area of a circle with radius 10 is 314.0 meter square."

In [117]:
#QUESTION 9

In [119]:
lbs= []         #list for weight in lbs. 
n = int(input("Enter list size:"))  #Taking size of the list from the user 
for i in range(n):     #for loop to take input from the user
    ele = int(input("Enter weights(lbs) of N students")) #Taking the weight in lbs. from the user
    lbs.append(ele)  #appending the weights from the user to list lbs
kgs = [[]]*n    #List for weight in kgs
for i in range(n):
    kgs[i] = lbs[i]/2.2046 #calculating kgs for each weight and assigning them to kgs list with respective indexes
kgs     #printing the items in kgs list

Enter list size:4
Enter weights(lbs) of N students150
Enter weights(lbs) of N students155
Enter weights(lbs) of N students145
Enter weights(lbs) of N students148

[68.03955366052799, 70.30753878254558, 65.77156853851038, 67.13235961172094]

In [120]:
lbs

[150, 155, 145, 148]

In [121]:
kgs

[68.03955366052799, 70.30753878254558, 65.77156853851038, 67.13235961172094]